<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570375497033-7hpetcl3atu815vmn079ng2qhq4c13jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570375497033-7hpetcl3atu815vmn079ng2qhq4c13jm</string>
	<key>API_KEY</key>
	<string>AIzaSyCRnLDlJAExaAcuyJ1BPaIyMK7rli2bW68</string>
	<key>GCM_SENDER_ID</key>
	<string>570375497033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInternationalization</string>
	<key>PROJECT_ID</key>
	<string>remote-config-c8459</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-c8459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570375497033:ios:db97b8a724e7722bb9a698</string>
</dict>
</plist>