<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758939207449-ms4ivt1t4j7ke56jkg9q6fgqsg51pufv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758939207449-ms4ivt1t4j7ke56jkg9q6fgqsg51pufv</string>
	<key>API_KEY</key>
	<string>AIzaSyBP8h799k-DxyHFCMZaO6xvz2zDmLSP8Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>758939207449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>training.ios-native-app</string>
	<key>PROJECT_ID</key>
	<string>crashlytics-test-b8270</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytics-test-b8270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758939207449:ios:a25115c83b8bc309272788</string>
</dict>
</plist>